In [1]:
data = spark.createDataFrame([(22, "John")], ["Age", "FirstName"])

In [2]:
data2 = spark.createDataFrame([("3", "CPU")], ["Count", "ItemName"])

In [3]:
merged_data = data.union(data2)

In [4]:
display(merged_data)

Age,FirstName
22,John
3,CPU